.appartment {
    &__container {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 500;
        line-height: 52px;
        color: #FF6060;
        margin-top: 30px;
    }
    &__location {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: #FF6060;
    }
}

.tags__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 24px;
}