.appartment {
    &__container {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
    }
    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__infos {
        display: flex;
        flex-direction: column;        
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 500;
        line-height: 52px;
        color: #FF6060;
        margin-top: 30px;
    }
    &__location {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: #FF6060;
        display: flex;
        justify-content: flex-start;
    }
}

.tags__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 24px;
}

.collapse__content {
    display: flex;
    flex-direction: row;
    gap : 76px;
}

.collapse {
    width: 47%;
}

.host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;
    align-items: center;
    gap: 10px;
    &__name {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: #FF6060;
        text-align: right;
    }
    &__pix {
        border-radius: 100px;
        width: 64px;
        height: 64px;
    }
}
.hostrating__wrap {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap : 21px;
}
.appartmenttags__wrap {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tags-host__container {
    display: flex;
    justify-content: space-between;
}



/******************** Media queries ********************/
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .appartment {
        &__container {
            align-items: center;
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }
        &__wrap {
            flex-direction: column;
        }
        &__title {
            font-size: 18px;
            line-height: initial;
            margin-top: 15px;
        }
        &__location {
            font-size: 14px;
            color: #FF6060;
        }
    }
        
    .collapse__content {
        flex-direction: column;
    }
    
    .host {
        margin-top: 0px;
        &__pix {
            width: 32px;
            height: 32px;
        }
    }
    .hostrating__wrap {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .wrapper {
        width: 95%;
    }

    .tags-host__container {
       flex-direction: column;
       margin-bottom: 13px;
    }

    .rating {
        &__star {
            height: 16px;
        }
    }
}    