.banner {
    margin-bottom: 43px;
    display: flex;
    justify-content: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0; bottom: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        overflow: hidden;
        border-radius: 25px;
        width: 95%;
      }
    &__home {
        width: 95%;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
    }    
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__tagline {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 48px;
        line-height: 69px;
        color: white;
        display: flex;
        position: absolute;
        align-self: center;
        z-index: 2;
    }
}

/******************** Media queries ********************/
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .banner {
        margin-bottom: 22px;
        margin-left: 20px;
        margin-right: 20px;
        width: 80%;
        height: 111px;
        &::before {
            width: 80%px;
            height: 111px;
          }
        &__home {
            width: 80%px;
            height: 111px;
            object-fit: cover;
            border-radius: 25px;
        }    
        &__container {
            flex-direction: row;
            justify-content: center;
        }
        &__tagline {
            font-size: 24px;
            line-height: 24px;
            margin-left: 16px; 
            margin-right: 20%;
        }    
    }
}    